<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>maxParticles</key>
    <integer>770</integer>
    <key>angle</key>
    <real>334.23</real>
    <key>angleVariance</key>
    <real>107.63</real>
    <key>duration</key>
    <real>-1</real>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>0.91</real>
    <key>startColorGreen</key>
    <real>0.16</real>
    <key>startColorBlue</key>
    <real>0.57</real>
    <key>startColorAlpha</key>
    <real>0.71</real>
    <key>startColorVarianceRed</key>
    <real>0</real>
    <key>startColorVarianceGreen</key>
    <real>0</real>
    <key>startColorVarianceBlue</key>
    <real>0</real>
    <key>startColorVarianceAlpha</key>
    <real>0</real>
    <key>finishColorRed</key>
    <real>0.71</real>
    <key>finishColorGreen</key>
    <real>0.83</real>
    <key>finishColorBlue</key>
    <real>0.77</real>
    <key>finishColorAlpha</key>
    <real>0.76</real>
    <key>finishColorVarianceRed</key>
    <real>0.76</real>
    <key>finishColorVarianceGreen</key>
    <real>0.81</real>
    <key>finishColorVarianceBlue</key>
    <real>0.49</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.59</real>
    <key>startParticleSize</key>
    <real>28.14</real>
    <key>startParticleSizeVariance</key>
    <real>62.58</real>
    <key>finishParticleSize</key>
    <real>60.04</real>
    <key>finishParticleSizeVariance</key>
    <real>2.72</real>
    <key>sourcePositionx</key>
    <real>300</real>
    <key>sourcePositiony</key>
    <real>300</real>
    <key>sourcePositionVariancex</key>
    <real>140.78</real>
    <key>sourcePositionVariancey</key>
    <real>518.48</real>
    <key>rotationStart</key>
    <real>313.21</real>
    <key>rotationStartVariance</key>
    <real>61.07</real>
    <key>rotationEnd</key>
    <real>123.66</real>
    <key>rotationEndVariance</key>
    <real>124.83</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>gravityx</key>
    <real>-108.63</real>
    <key>gravityy</key>
    <real>-6.4</real>
    <key>speed</key>
    <real>332.1</real>
    <key>speedVariance</key>
    <real>317.44</real>
    <key>radialAcceleration</key>
    <real>23.03</real>
    <key>radialAccelVariance</key>
    <real>184.62</real>
    <key>tangentialAcceleration</key>
    <real>-173.35</real>
    <key>tangentialAccelVariance</key>
    <real>114.76</real>
    <key>maxRadius</key>
    <real>342.34</real>
    <key>maxRadiusVariance</key>
    <real>171.32</real>
    <key>minRadius</key>
    <real>264.04</real>
    <key>rotatePerSecond</key>
    <real>235.47</real>
    <key>rotatePerSecondVariance</key>
    <real>106.17</real>
    <key>particleLifespan</key>
    <real>0.29</real>
    <key>particleLifespanVariance</key>
    <real>6.58</real>
    <key>textureFileName</key>
    <string>texture.png</string>
  </dict>
</plist>