<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>walkr-loading-a02x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
			<key>walkr-loading-a12x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
			<key>walkr-loading-a22x.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,0},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
			<key>walkr-loading-a32x.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,110},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
			<key>walkr-loading-a42x.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
			<key>walkr-loading-a52x.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,110},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
			<key>walkr-loading-a62x.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
			<key>walkr-loading-a72x.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,110},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
			<key>walkr-loading-a82x.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
			<key>walkr-loading-a92x.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,110},{60,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>